<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <nav class="main-nav">
            <div class="brand-container">
                <div class="logo-wrapper">
                    <a href="{{ '/' | relative_url }}"><img src="{{ '/assets/images/Freely-Bee-logo.png' | relative_url }}" alt="Logo" class="site-logo"></a>
                </div>
                <a href="{{ '/' | relative_url }}" class="logo-text">{{ site.title }}</a>
            </div>
        </nav>
    </header>

    <main class="content">
        {{ content }}
    </main>

    <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
